DATABASE_URL="postgresql://postgres:[PASSWORD]@db.eljqntmoadxxswkwoswg.supabase.co:5432/postgres"

# NextAuth Configuration
NEXTAUTH_SECRET="your-nextauth-secret" # Use `openssl rand -base64 32` to generate
NEXTAUTH_URL="https://auzaarbazaar.in"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
